rabbit_amqpUrl=amqp://rabbit:rabbit@localhost:5672
rabbit_exchangeTelegram=telegram
rabbit_consumerTelegramQueue=rabbit.consumer.telegram
rabbit_topicTelegramRoutingKey=telegram.*
rabbit_publishTelegramCallbackRoutingKey=telegram.rabbit.callback
rabbit_telegramBotToken=
rabbit_redisUrl=redis://127.0.0.1:6379
rabbit_redisTelegramSubscribersKey=telegram:bot:subscribers
rabbit_port=3020
