rabbit_amqpUrl=amqp://rabbit:rabbit@localhost:5672
rabbit_consumeMaxAttempts=3
rabbit_exchangeRabbits=rabbits
rabbit_topicRoutingKey=#
rabbit_consumerQueue=rabbit.consumer.rabbits
rabbit_exchangeTelegram=telegram
rabbit_publishTelegramRoutingKey=telegram.notify
rabbit_publishTelegramDirectRoutingKey=telegram.direct
rabbit_consumerTelegramCallbackQueue=rabbit.consumer.telegram.callback
rabbit_telegramCallbackRoutingKey=telegram.rabbit.callback
rabbit_redisUrl=redis://127.0.0.1:6379
rabbit_domain=localhost
rabbit_port=3001
